body {
    margin: 0;
    padding: 0;
    background-image: url("/assets/logos/header.jpg");
    height: 40vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#navbar li a{
    color: white;
    font-family: 'Open Sans', sans-serif;
}


