body {
    margin: 0;
    padding: 0;
    background-image: url("/assets/logos/header.jpg");
    background-color: #85b3b8;
    background-position: center;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#navbar li a{
    color: white;
}

